@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  @apply bg-platinum text-ebony;
}

@layer base {
  @font-face{
    font-family: Nunito;
    font-style: normal;
    font-weight: 400;
    font-display: auto;
    src: url('/public/fonts/Nunito-Regular.ttf') format('ttf');
  }
  html {
    scroll-behavior: smooth;
  }
}