@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  @apply bg-gray-900 text-neutral-100;
}

@layer base {
  @font-face{
    font-family: Nunito;
    font-style: normal;
    font-weight: 400;
    font-display: auto;
    src: url('/public/fonts/Nunito-Regular.ttf') format('ttf');
  }
}